
.logo{
    font-size: 50px;
    color:	#8c321a;
    text-align: left;
    line-height: 100px;
    font-weight: bold;
    }

.nav{
    background-color:black;
    height: 40px;
    height:60px;
    width:auto;
    font-style: italic;
    
    
}
a{
    color:rgb(97, 163, 221);
    padding-inline: 10px;
    position: relative;
   

}
nav img{
    margin-right: auto;
    margin-left: auto;
    float: left;
    display: block;    
    width:100px ;
    height: 80px;
}

img{
    height: 650px;
    width:100%;
}

ul{
    display: inline-flex;
    margin:auto;
    color:white;
    float: left;
}


.card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(212, 214, 222, 0.3);
    width: 150px;
    height: 200px;
    background-color: rgb(198, 196, 200);
    display: inline-table;
  }

